/* Base styles for DatePicker */
.datepicker-container {
    width: 100%;
    height: 50px;
    margin-bottom: 0; /* Remove extra margin */
    padding-bottom: 0; /* Remove extra padding */
    overflow-y: hidden; /* Hide horizontal scrollbar */
}

/* Override react-datepicker styles */
.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container input:focus {
    outline: none;
    border-color: #333;
}

.react-datepicker__triangle {
    display: none; /* Hide the default triangle */
}

/* Grey out days not in the current month */
.react-datepicker__day--outside-month {
    color: #ccc; /* Light grey color */
    opacity: 0.2; /* Reduce opacity */
    pointer-events: none; /* Disable clicks on these days */
}

/* Base styles for mobile-first approach */
.careers-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.careers-text {
    text-align: center;
    margin-bottom: 2rem;
}

.careers-text h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.careers-text p {
    font-size: 1rem;
}

.input-grid {
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.input-grid input,
.input-grid select,
.input-grid .react-datepicker__input-container input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #d1d1d1;
    appearance: none;
    margin-bottom: 10px;
    background-color: white;
    color: grey;
}

.input-grid input.input-error {
    border: 1px solid red;
    background-color: #ffe6e6;
}

.apply-button {
    background-color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
    color: white;
}

.select-container {
    position: relative;
}

/* Remove default arrow */
.select-container select {
    appearance: none;
    color: grey;
}

.select-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-100%);
    color: black;
    width: 12px;
    height: 12px;
}

/* Base, Focus, and Blur states */
.input-grid input[type="text"],
.input-grid input[type="email"],
.input-grid input[type="number"],
.input-grid select,
.input-grid .DayPickerInput input {
    font-size: 14px;
}

/* Base state for input grid */
.input-grid input,
.input-grid select {
    -webkit-tap-highlight-color: transparent; /* Remove default blue highlight on click */
    -webkit-text-fill-color: #333; /* Override autocomplete styles */
    outline: none; /* Override default focus outline */
    color: #333; /* Base text color */
}

/* Override autocomplete background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Mobile Small (320px and below) */
@media screen and (max-width: 320px) {
    .careers-text h1 {
        font-size: 1.5rem;
    }
    .careers-text p {
        font-size: 1rem;
    }
    .input-grid input,
    .input-grid select,
    .input-grid button {
        height: 50px;
        padding: 0 20px;
        font-size: 14px;
        width: 100%;
    }
    .select-container select {
        padding-right: 35px;
    }
    .input-grid input[id="resumeLink"] {
        margin-top: 10px;
    }
}

/* Mobile Medium (321px to 375px) */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .careers-text h1 {
        font-size: 1.8rem;
    }
    .careers-text p {
        font-size: 1.2rem;
    }
    .input-grid input,
    .input-grid select,
    .input-grid button {
        height: 50px;
        padding: 0 30px;
        font-size: 14px;
    }
    .select-container select {
        padding-right: 45px;
    }
    .input-grid input[id="resumeLink"] {
        margin-top: 10px;
    }
}

/* Mobile Large (376px to 1023px) */
@media screen and (min-width: 376px) and (max-width: 1023px) {
    .careers-text h1 {
        font-size: 1.9rem;
    }
    .careers-text p {
        font-size: 1.4rem;
    }
    .careers-main img {
        width: 100%;
    }
    .input-grid input,
    .input-grid select,
    .input-grid button {
        height: 60px;
        padding: 0 40px;
        font-size: 14px;
    }
    .apply-button {
        margin-left: auto;
        text-align: center;
    }
    .select-container select {
        padding-right: 45px;
    }
    .input-grid input[id="resumeLink"] {
        margin-top: 10px;
    }
    .input-grid .datepicker-container {
        height: 60px; /* Consistent height */
    }
}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
    .careers-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch; /* Ensure both sides are the same height */
        padding: 0;
        margin-bottom: 15px;
    }

    .left-container {
        width: 50%;
        height: 50%;
        margin-top: 15%;
    }

    .careers-text h1 {
        font-size: 2rem;
    }

    .careers-text p {
        font-size: 1.25rem;
    }

    .careers-main img {
        width: 50%;
        object-fit: cover;
        align-self: stretch;
        margin: 0;
        padding: 0;
        min-height: 80vh;
    }

    .input-grid {
        display: grid;
        gap: 10px;
        width: 100%;
    }

    .input-grid input,
    .input-grid select,
    .input-grid button {
        height: 60px;
        padding: 0 10px;
        font-size: 16px;
        width: 100%; /* Ensure full width */
        margin-bottom: 0; /* Reduce bottom margin */
    }

    .input-grid input[id="resumeLink"] {
        grid-column: span 2; /* Span full width */
    }

    .input-grid button {
        grid-column: 2;
    }

    .input-grid input::placeholder,
    .input-grid select::placeholder,
    .select-container select {
        font-size: 12px;
    }
}

/* Extra Large Desktop  */
@media (min-width: 1025px) {
    .input-grid {
        width: 55%;
        max-width: 90%; /* Reduce overall width */
    }

    .input-grid input,
    .input-grid select,
    .input-grid button {
        height: 50px; /* Reduce height */
        padding: 0 15px; /* Reduce padding */
        width: 100%;
        margin-bottom: 0;
    }

    .left-container {
        margin-top: 5%;
    }

    .select-container {
        width: 100%;
    }

    .select-icon {
        margin-top: 2%;
    }
}