.footer {
    text-align: center;
    margin-bottom: 10px;
}

.footer-socials {
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

.footer-socials a {
    width: 30px; 
    height: 30px;
    margin: 0 5px; /* Add spacing between images */
}

.footer-end {
    font-size: 15px;
}

h1 {
    font-size: 20px;
    color: rgb(211, 165, 48, 1);
}

p {
    font-size: 20px;
    line-height: 1.2;
}

/* Adjusts for extra small devices */
@media (max-width: 375px) { 
    p {
        font-size: 18px; /* Reduce the font size */
    }
}