.navbar {
    display: flex;
    height: 120px;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.navbar-salon-image {
    width: 60px;
    height: 60px;
}

.desktop-navbar {
    display: flex;
    list-style: none;
    gap: 1px;
    align-items: center;
}

.navbar-item {
    line-height: 30px;
    border-right: 1px solid black;
    padding: 0 15px;
    font-size: 18px;
} 

.navbar-item a {
    text-decoration: none;
    color: rgb(211, 165, 48, 1);
}

.navbar-item a:hover {
    color: black;
}

.navbar-item .active {
    color: black; /* Darken the color */
}

.navbar-socials-pic {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.navbar-socials {
    display: flex; 
    align-items: center;
    margin-right: 50px; 
    margin-left: 25px;
}

.navbar-name {
    display: flex;
    font-size: 20px;
    font-family: 'Futura LT W01 Book', 'Futura LT W05 Book', sans-serif; /* Use custom fonts here */
    color: black;
}

.mobile-menu-icon {
    display: none;
}

.mobile-navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
    z-index: 1000;
    padding-top: 125px;
}

.mobile-navbar-item{
    font-size: 25px;
    padding: 20px;
    color: black;
    text-align: center;
}

.mobile-navbar-item a {
    color: black;
    text-decoration: none; 
    font-style: italic;
}

.mobile-menu-icon {
    z-index: 1001; /* Ensure menu icon stays above the mobile menu */
}
/* Media queries for smaller screens */
@media (max-width: 768px) {
    .desktop-navbar {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
        align-items: center;
        background: none;
        color: black;
        margin-right: 20px;
    }

    .mobile-navbar-item a {
        font-style: italic;
    }
    
    .mobile-navbar-item a.active {
        color: rgb(211, 165, 48, 1);
    }

    .navbar-name {
        display: flex;
        white-space: nowrap;
    }

    .navbar-socials {
        display: flex;
        align-items: center;
        margin-right: 20px;
        gap: 15px;
    }

    .navbar-socials-pic {
        display: flex;
        margin-right: 0px;
    }
}