* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navbar-salon-image {
    width: 60px;
    height: 60px;
}

.desktop-navbar {
    display: flex;
    list-style: none;
    gap: 1px;
    align-items: center;
}

.navbar-item {
    line-height: 30px;
    border-right: 1px solid black;
    padding: 0 15px;
    font-size: 18px;
} 

.navbar-item a {
    text-decoration: none;
    color: rgb(211, 165, 48, 1);
}

.navbar-item a:hover {
    color: black;
}

.navbar-item .active {
    color: black; /* Darken the color */
}

.navbar-socials-pic {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.navbar-socials {
    display: flex; 
    align-items: center;
    margin-right: 25px; 
    margin-left: 25px;
}

.navbar-name {
    display: flex;
    font-size: 20px;
    font-family: 'Futura LT W01 Book', 'Futura LT W05 Book', sans-serif; /* Use custom fonts here */
    color: black;
    white-space: nowrap;
}

.mobile-menu-icon {
    display: none;
}

.mobile-navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding-top: 125px;
}

.mobile-navbar-item{
    font-size: 25px;
    padding: 20px;
    color: black;
    text-align: center;
}

.mobile-navbar-item a {
    color: black;
    text-decoration: none; 
    font-style: italic;
}

.mobile-menu-icon {
    z-index: 1001; /* Ensure menu icon stays above the mobile menu */
}

/* Media queries for desktop */
@media (min-width: 1024px){
    .navbar-left{
        margin-left: 50px;
    }
}

/* Media queries for tablet */
@media (max-width: 1024px) {
    .navbar {
        height: 80px;
    }

    .navbar-item {
        padding: 0 10px;
    }

    .navbar-socials-pic {
        width: 20px;
        height: 20px;
    }

    .navbar-socials {
        margin-right: 20px;
        margin-left: 20px;
    }

    .navbar-name {
        font-size: 18px;
    }
}

/* Media queries for mobile large */
@media (max-width: 767px) {
    .desktop-navbar {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: row; /* Keep items in a row */
        justify-content: space-between;
        align-items: center;
        height: auto; /* Adjust height for responsiveness */
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 10px;
    }

    .navbar-left {
        display: flex;
        align-items: center;
    }

    .navbar-right {
        display: flex;
        align-items: center;
        margin-right: 0;
        gap: 20px;
    }

    .navbar-socials {
        margin-right: 0;
        margin-left: 0;
        width: fit-content;
        height: fit-content;
        gap: 20px;
    }

    .navbar-socials-pic {
        width: 20px;
        height: 20px;
        margin-right: 0px;
    }

    .mobile-menu-icon {
        display: flex;
        align-items: center;
        background: none;
        color: black;
        margin-right: 20px;
    }

    .mobile-navbar-item a {
        font-style: italic;
    }
    
    .mobile-navbar-item a.active {
        color: rgb(211, 165, 48, 1);
    }
}

/* Media queries for mobile medium */
@media screen and (max-width: 375px) {
    .navbar{
        gap: 20px;
    }
    .navbar-name {
        font-size:large;
    }
}

/* Media queries for mobile small */
@media (max-width: 374px) {
    .navbar-salon-image {
        width: 45px;
        height: 45px;
    }

    .navbar-name {
        font-size: 16px;
    }

    .navbar-right {
        gap: 12px;
    }

    .navbar-socials {
        gap: 12px;
    }

    .navbar-socials-pic {
        width: 20px;
        height: 20px;
    }

    .mobile-menu-icon {
        margin-right: 10px;
    }
}

